mat-form-field,
textarea {
  width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"]{
visibility: hidden;
}

.image-preveiw{
  height: 5 rem;
  margin: 1rem 0;
}

.image-preveiw img{
  height:100%;
}
