<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        [ngModel]="post?.title"
        required
        name="title"
        #title="ngModel"
        placeholder="Title"
        >
        <mat-error *ngIf="title.invalid">no title entered</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        [ngModel]="post?.text"
        required
        rows="6"
        name="text"
        #text="ngModel"
        placeholder="Text"
        >
      </textarea>
      <mat-error *ngIf="text.invalid">
        no text entered
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">
      Save Post
    </button>
  </form>
</mat-card>
