:host{
  display: block,
  margin 1%
}

.info-text{
  text-align: center
}

.post-image {
  width: 60%;
}

.post-image img {
  width: 60%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-spinner{
  margin: auto;
}

mat-paginator{
  margin-top: 1rem;
  margin-bottom: 1rem
}
